.MainLayout{
    min-height: 100vh;
}

.Loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controller{
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.controller-auth{   
    margin-right:20px;
    font-size: 26px;
    color: #987a9d;
}
.controller-auth:hover{
    cursor: pointer;
}