.search{
    background-color: #e9f0f7;
    padding: 10px 40px;
    border-radius: 50px;
    display: flex;
    color: #9b7a9e;

}
.search:hover{
    cursor: text;
}

.input{
    border: none;
    font-size: 16px;
    color: #9b7a9e;
    background-color: transparent;
    font-weight: 700;
}

.input:focus-visible{
    outline: none;
}