.header{
    background: linear-gradient( to right bottom, rgba(124, 97, 130, 0.8), rgba(123, 38, 111, 0.6));
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    color: white;
    position: relative;
}

.title{
    position: absolute;
    left: calc(50% - 25px);
    font-size: 22px;
    font-weight: bold;
}

@media only screen and (max-width: 1020px) {
   .header{
        display: flex;
        flex-direction: column;
   }
   .title{
       position: unset;
   }
}