.card{
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: rgb(152, 122, 157);
    border-radius: 30px;
    min-height: 250px;
    margin: 20px;
    position: relative;
    flex: 1 1 0px;
    box-shadow: 6px 7.4px 8px #30826b3b;
}